<div class="overlay">

</div>

<div class="login_container">
  <div class="login_box">
    
    <div class="login_form">
    <%= render template: 'users/new.html.erb' %>
        <p>
          <a href="javascript:void(0)" id="signup_cancel">Cancel</a>
        </p>
    </div>
  </div>
</div>
