<h1>Welcome to Your Game Pile</h1>
<div class="greeting">
  <% if logged_in? %>
          <h1>Hi <%= current_user.username %></h1>
        <% else %>
          <%= link_to "Sign up", signup_path %><br>
          <%= link_to "Log in", login_path %>
        <% end %>
    </div>


