<h1>Add Game</h1>

<%= form_tag("games/new", method: "get", remote: true) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "submit_button"%>
<% end %>
<a href="javascript:void(0)" id="add_cancel">Cancel</a>

<ul class="add_game_list">
    <%= render('add_games_list') %>
</ul>

<script>
    $("#add_cancel").click(function(){
        $(".add_popup").css("display", "none")
    });
    $(".thumb-img").click(function(){
         $(".add_popup").css("display", "none")
    });
      
</script>