$dark_blue: #1E2B42;
$light_blue: #2B3D59;
$bright_blue: #647086;



#nav {
  height: 100%;
  width:250px;
  background: $light_blue;
  float:left;
  position:fixed;
  margin:0;
  padding:0;
  top:0;
  left:0;
  z-index:2;
  
  .navbar-header {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    margin:auto;
    height:203px;
    width:250px;
    position:relative;
    
    .navbar-logo{
      margin:auto;
      height:188px;
      width:200px;
      text-decoration: none;
      font-size:3em;
      color:white;

    }
  }

  .navbar_segment{
    
    width:100%;
    background-color:$dark_blue;
    position:relative;
    font-family: 'Exo 2', sans-serif;
    color:white;
    margin-bottom:5px;
    padding-bottom:10px;
    
     h1{
        font-weight: 800;
        font-size: 1.5em;
        padding:0;
        margin:0;
        margin-bottom:10px;
        color:$bright_blue;
        text-align: center;
      }
      
     ul{
       list-style-type: none;
       width:100%;
       padding:0;
       margin:0;
        .nav-name{
          font-weight: 800;
          margin:auto;
          padding-left:20px;
        }
      }
      
     li{
        width:100%;
     }
      
     li a{
      padding-left:20px;
      font-weight: 400;
      display: block;
      text-decoration: none;
      margin:auto;
      color:white;
      
      &:hover{
        background-color:$light_blue;
      }
    }
  }
  
  .navbar-account{
    @extend .navbar_segment;
    height:100%;
    float: none;
    margin-bottom:10px;
  }
      
  .navbar-veiws{
    @extend .navbar_segment;
    height:100%;
    float: none;
    

  }
  
  .navbar-stats{
    @extend .navbar_segment;
    height:400px;
    float: none;
  }
  
 
}



@media screen and (max-width: 640px){
  #nav {
    height: 100px;
    width:100%;
    background: #0080FF;
    float:left;
    position:fixed;
    margin:0;
    padding:0;
    top:0;
    left:0;
    
      .navbar-header {
      font-family: 'Exo 2', sans-serif;
      font-weight: 900;
      margin-bottom:10px;
      float:left;

      
      .navbar-logo{
        text-decoration: none;
        font-size:1.5em;
        color:white;
        margin:auto;
        
      }
    }
    .navbar-account{
    font-family: 'Exo 2', sans-serif;
    
    color:white;
    list-style-type: none;
    padding: 0;
     margin:auto;
     width:auto;
     height:100px;
      background-color:#555555;
      float:left;
      
      .nav-name{
        font-weight: 800;
        margin:auto;
      }
      
      li a{
        font-weight: 400;
        float:left;
        display: block;
        text-decoration: none;
        padding: 5px;
        margin:auto;
        color:white;
        &:hover{
          color:#0080FF;
          text-decoration: underline;
        }
      }
    }
  }
    #content{
    width:auto;
    margin:auto;
    position:relative;
    left:10px;
    top:100px;
   
    
  }
  
   
}


/* bootstrap stuff
@import "bootstrap-sprockets";
@import "bootstrap";




@media (min-width: 768px) {

  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
*/
