$dark_blue: #1E2B42;
$light_blue: #2B3D59;
$bright_blue: #647086;

html{
  max-width: 100%;
  overflow-x: hidden;
  height:100%;
}

html, body { 
  background: white;
  margin:0;
}

#content{
  .alert{
    color:red;
  }
}

h1{
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  color:$light_blue;
}

.login_popup{
  display:none;
}



.signup_popup{
  display:none;
}


.game_views{
  a{
      font-weight: 800;
      display: block;
      text-decoration: none;
      margin:auto;
      color:$light_blue;
      font-size:2em;
      font-family: 'Exo 2', sans-serif;
  }
  .game_views_icon{
    height:100px;
    width:100px;
    .game_views_icon_box{
      height:90px;
      width:100px;
      background-color:$light_blue;
    }
  }
  
}